#vergil_main_container{
    opacity: 1;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.hero_vergil_container{
    width: 100%;
    height: auto;
    position: relative;
}

#intro_mp4{
    height: 100vh;
    display: block;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
}



.vergil_navbar_wrapper{
    width: 100%;
    position: absolute;
    z-index: 1001;
}


.hero_vergil_contents{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    background-image: url("../assets/resource/vergil_aura_farming.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 1499px){
    .hero_vergil_contents{
        background-size: 100% 100%;
    }
}

.hero_vergil_text{
    width: 30%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items:end;
    padding-left: 2%;
    padding-bottom: 10%;
    position: relative;
    z-index: 10;
}

.hero_vergil_text h1{

    color: white;
    font-family: "Manufacturing Consent",system-ui;
    font-size: 6rem;
	line-height: 1.1;
}

.vergil_container{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/resource/katana_on_shoulders_vergil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
}


.vergil_description_container{
    width: 70%;
    background-color: rgb(248, 248, 248);
    height: 100%;
    display: flex;
    padding: 10%;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}


.vergil_description_container h1{
    font-family: "New Rocker",system-ui;
    color: black;
}

.vergil_description_container p{
    font-family: "Archivo Black",system-ui;
    color: black;
    line-height: 2rem;
}

.vergil_feature_items_container{
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/resource/vergil.jpg");
    background-position: -12%;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
}

.vergil_items_container{
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assets/resource/ink_effect.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:100% 0%;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    padding: 3% 3% 3% 15%;
    gap: 10%;

}


.vergil_item_card{
    min-width: 25%;
    height: 40%;
    background-color: black;
    position: relative;
    border: 3px solid white;
    border-radius: 2%;
}

.vergil_item_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2%;
    align-items: center;
}

.vergil_item_img{
    width: 100%;
    height: 50%;
    overflow: hidden;
    
}

.vergil_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
}

.vergil_item_title{
    font-family: "New ROcker", system-ui;
    color: white;
    overflow-x: hidden;
    font-size: 0.8rem;
}

.vergil_view_button{
    width: 70%;
    height: 10%;
    text-align: center;
    font-family: "Archivo Black",system-ui;
    font-size: 1rem;
    color: var(--dark-red);
}

@media (max-width: 768px){
    .hero_vergil_text h1{
        font-size: 4rem;
    }
    .hero_vergil_text{
        width: 50%;
    }

    .vergil_description_container{
        padding-right: 5%;
    }


    .vergil_description_container p{
        font-size: 0.9rem;
        line-height: 1.7;
    }
}


@media (max-width: 391px) {
    .hero_vergil_text h1{
        font-size: 2.5rem;
    }
    .hero_vergil_text{
        width: 70%;
    }

    .vergil_description_container{
        padding-right: 1%;
    }
    .vergil_description_container p{
        line-height: 1.5;
    }
}